{{entry_organizer_name??"aaaaaaaaa"}}


{{form.errors|json}}
<div class="shadow-md p-3 rounded-md">
    <h1>{{pageType=="Edit"?"Edit Activity":"Create Activity"}}</h1>
    <form [formGroup]="form" (ngSubmit)="save()" class="sm:text-3xl flex flex-col gap-4">
            <div class="flex flex-col gap-4 sm:flex-row">
                <div class="w-100 sm:w-1/2">
                    <div id="title_field">
                        <label class="block text-sm font-medium text-slate-700" for="title">title :</label>
                        <input type="text" id="title" formControlName="dc:title"
                        class="h-11 block w-full px-2 py-1 bg-white rounded-md text-sm shadow-sm
                                border border-transparent focus:outline-none"
                        placeholder="Enter title"/>
                        <div *ngIf="f['dc:title']?.invalid &&(f['dc:title'].touched || submitted)">
                            <span class="text-xs text-red-500" *ngIf="f['dc:title'].errors?.required">This field is mandatory.</span>
                        </div>                          
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-4 sm:flex-row">
                <div class="w-100 sm:w-1/2">
                    <div id="description_field">
                        <label class="block text-sm font-medium text-slate-700" for="description">description :</label>
                        <textarea formControlName="dc:description" id="description" cols="30" rows="20"
                        class="h-11 block w-full px-2 py-1 bg-white rounded-md text-sm shadow-sm
                                border border-transparent focus:outline-none"
                        placeholder="Enter description"></textarea>
                        <div *ngIf="f['dc:description']?.invalid &&(f['dc:description'].touched || submitted)">
                            <span class="text-xs text-red-500" *ngIf="f['dc:description'].errors?.required">This field is mandatory.</span>
                        </div>                          
                    </div>
                </div>
                <div class="w-100 sm:w-1/2">
                    <div id="categorization_field">
                        <label class="block text-sm font-medium text-slate-700" for="categorization">categorization :</label>
                        <input type="text" id="categorization" formControlName="activity:categorization"
                        class="h-11 block w-full px-2 py-1 bg-white rounded-md text-sm shadow-sm
                                border border-transparent focus:outline-none"
                        placeholder="Enter categorization"/>
                        <div *ngIf="f['activity:categorization']?.invalid &&(f['activity:categorization'].touched || submitted)">
                            <span class="text-xs text-red-500" *ngIf="f['activity:categorization'].errors?.required">This field is mandatory.</span>
                        </div>                          
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-4 sm:flex-row text-sm">
                <div class="w-100 sm:w-1/2">
                    <div id="startDate_field">
                        <mat-form-field class="w-full">
                            <mat-label> startDate
                            </mat-label>
                            <input
                            id="startDate"
                            formControlName="activity:startDate"
                            matInput 
                            [matDatepicker]="picker_start_date"
                            [ngClass]="{ 'is-invalid': submitted && f['activity:startDate'].errors }"
                            placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker_start_date"></mat-datepicker-toggle>
                            <mat-datepicker #picker_start_date></mat-datepicker>
                            <mat-error *ngIf="f['dc:startDate']?.invalid &&(!f['dc:startDate'].value || f['dc:startDate'].touched || submitted)">
                                <span *ngIf="f['dc:startDate'].errors?.required">This field is mandatory.</span>
                            </mat-error>
                        </mat-form-field>
                        <div class="date-level-validation">
                            <span *ngIf="form.errors?.dateRange" class="text-xs text-red-500">startDate must be before the endDate.</span>
                        </div>
                    </div>
                </div>{{f['activity:startDate'].value}}

                <div class="w-100 sm:w-1/2">
                    <div id="endDate_field">
                        <mat-form-field class="w-full">
                            <mat-label> endDate
                            </mat-label>
                            <input
                            id="endDate"
                            formControlName="activity:endDate"
                            matInput 
                            [matDatepicker]="picker_end_date"
                            [ngClass]="{ 'is-invalid': submitted && f['activity:endDate'].errors }"
                            class="text-sm"
                            placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker_end_date"></mat-datepicker-toggle>
                            <mat-datepicker #picker_end_date></mat-datepicker>
                            <mat-error *ngIf="f['dc:endDate']?.invalid &&(f['dc:endDate'].touched || submitted)">
                                <span *ngIf="f['dc:endDate'].errors?.required">This field is mandatory.</span>
                            </mat-error>
                        </mat-form-field>
                        <div class="date-level-validation">
                            <span *ngIf="form.errors?.dateRange" class="text-xs text-red-500">startDate must be before the endDate.</span>
                        </div>
                    </div>
                    {{f['activity:endDate'].value}}
                </div>
            </div>
            <div class="flex flex-col gap-4 sm:flex-row text-sm">
                    <div class="w-100 sm:w-1/2">
                        <div id="organize_select_field" style="margin-top: 38px;">
                            <label class="block text-sm font-medium text-slate-700" for="organize_select">organize_select :</label>
                            <ng-select
                            id="organize_select"
                            placeholder="select organizer" 
                            [items]="organizers_objects"
                            bindLabel="name"
                            bindValue="id"
                            class="text-sm"
                            [searchable]="true"
                            formControlName="activity:organizers"></ng-select>
                            <div *ngIf="submitted && f['activity:organizers'].errors">
                                <div *ngIf="f['activity:organizers'].errors.required">organizers is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 sm:w-1/2 flex justify-between">
                        <div id="timeFrom_field">
                            <label for="timeFrom">timeFrom</label>
                            <ngb-timepicker formControlName="activity:timeFrom" [meridian]="true" [spinners]="false" [ngClass]="{ 'is-invalid': submitted && f['activity:timeFrom'].errors, 'meridian-blue':meridian1}" [ngStyle]="{backgroundColor:'red'}" (click)="toggleMeridian('meridian1')"></ngb-timepicker>
                            {{f['activity:timeFrom'].value|json}}
                            {{meridian1}}
                            <div *ngIf="submitted && f['activity:timeFrom'].errors">
                                <div *ngIf="f['activity:timeFrom'].errors.required">timeFrom is required</div>
                            </div>
                        </div>
                        <div id="timeTo_field">
                            <label for="timeTo">timeTo</label>
                            <ngb-timepicker formControlName="activity:timeTo" [meridian]="true" [spinners]="false" [ngClass]="{ 'is-invalid': submitted && f['activity:timeTo'].errors, 'meridian-blue':meridian1}" [ngStyle]="{backgroundColor:'red'}" (click)="toggleMeridian('meridian1')"></ngb-timepicker>
                            {{f['activity:timeTo'].value|json}}
                            {{meridian2}}
                            <div *ngIf="submitted && f['activity:timeTo'].errors">
                                <div *ngIf="f['activity:timeTo'].errors.required">timeTo is required</div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="flex flex-col gap-4 sm:flex-row">
                <div class="w-100 sm:w-1/2" [formGroup]="accessLocation">
                    <div id="city_field">
                        <label class="block text-sm font-medium text-slate-700" for="city">city :</label>
                        <input type="text" id="city" formControlName="city"
                        class="h-11 block w-full px-2 py-1 bg-white rounded-md text-sm shadow-sm
                                border border-transparent focus:outline-none"
                        placeholder="Enter city"/>
                        <div *ngIf="submitted && accessLocation.controls.city.errors">
                            <span *ngIf="accessLocation.controls.city.errors.required">This field is mandatory.</span>
                        </div> 
                    </div>
                    <div id="geographicLocation_field">
                        <label class="block text-sm font-medium text-slate-700" for="geographicLocation">geographicLocation :</label>
                        <input type="text" id="geographicLocation" formControlName="geographicLocation"
                        class="h-11 block w-full px-2 py-1 bg-white rounded-md text-sm shadow-sm
                                border border-transparent focus:outline-none"
                        placeholder="Enter geographicLocation"/>
                        <div *ngIf="submitted && accessLocation.controls.geographicLocation.errors">
                            <span *ngIf="accessLocation.controls.geographicLocation.errors.required">This field is mandatory.</span>
                        </div> 
                    </div>
                </div>
                <div class="w-100 sm:w-1/2" [formGroup]="accessCoverPicture">
                    <label class="block text-sm font-medium text-slate-700" for="coverPicture">coverPicture :</label>

                    <div id="coverPicture_field" class="flex">
                        <input #ing_input hidden="true" id="coverPicture"
                        placeholder="coverPicture" type="file"
                        (change)="onAttachFileChange($event)"
                        (load)="fun(ing_input)"
                        accept=".png, .jpg, .jpeg">
                        <button type="button" mat-raised-button color="accent"
                        (click)="fun(ing_input)">Upload</button>
                        <div *ngIf="coverPicture">
                            <img [src]="coverPicture" alt="cover_picture" style="width: 100px;" class="img-thumbnail float-end">
                        </div>
                        <div *ngIf="submitted && accessLocation.controls.city.errors">
                            <span *ngIf="accessLocation.controls.city.errors.required">This field is mandatory.</span>
                        </div> 
                    </div>
                </div>
            </div>
        <mat-card-actions>
            <button mat-raised-button color="accent" type="submit">SAVE</button>
            <button mat-raised-button color="warn" type="reset" (click)="onReset()">RESET</button>
        </mat-card-actions>
</form>
</div>