.form-floating > .form-select {
    padding-top: 0.625rem !important;
    padding-bottom: 0.625rem;
}
.organizers{
    padding-top: 14px;
}
.btn-link span{
    display: none !important;padding-top: 14px;
}
.meridian-blue{
    background-color: #0d6efd !important;
    color: white !important;
}