<mat-card>
    <mat-card-header>
    <mat-card-title>{{pageType=="Edit"?"Edit Activity":"Create Activity"}}</mat-card-title>
    </mat-card-header>
        <form [formGroup]="form" (ngSubmit)="save()" class="form-floating">
                <div class="row py-4">
                    <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                        <mat-form-field class="form-field">
                            <mat-label> title
                            </mat-label>
                            <input matInput formControlName="dc:title" required>
                            <mat-error *ngIf="f['dc:title']?.invalid &&(f['dc:title'].touched || submitted)">
                                <span *ngIf="f['dc:title'].errors?.required">This field is mandatory.</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                        <mat-form-field class="form-field">
                            <mat-label> description
                            </mat-label>
                            <input matInput formControlName="dc:description" required>
                            <mat-error *ngIf="f['dc:description']?.invalid &&(f['dc:description'].touched || submitted)">
                            <span *ngIf="f['dc:description'].errors?.required">This field is mandatory.</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row py-4">
                    <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                        <mat-form-field class="form-field">
                            <mat-label> categorization
                            </mat-label>
                            <input matInput formControlName="activity:categorization" required>
                            <mat-error *ngIf="f['activity:categorization']?.invalid &&(f['activity:categorization'].touched || submitted)">
                            <span *ngIf="f['activity:categorization'].errors?.required">This field is mandatory.</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                        <mat-form-field class="form-field">
                            <mat-label> startDate
                            </mat-label>
                            <input
                            formControlName="activity:startDate"
                            matInput 
                            [matDatepicker]="picker_start_date"
                            [ngClass]="{ 'is-invalid': submitted && f['activity:startDate'].errors }"
                            placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker_start_date"></mat-datepicker-toggle>
                            <mat-datepicker #picker_start_date></mat-datepicker>
                            <mat-error *ngIf="f['dc:startDate']?.invalid &&(!f['dc:startDate'].value || f['dc:startDate'].touched || submitted)">
                                <span *ngIf="f['dc:startDate'].errors?.required">This field is mandatory.</span>
                            </mat-error>
                        </mat-form-field>
                        {{f['activity:startDate'].value}}
                    </div>
                </div>
                <div class="row py-4">
                    <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                        <mat-form-field class="form-field">
                            <mat-label> endDate
                            </mat-label>
                            <input
                            formControlName="activity:endDate"
                            matInput 
                            [matDatepicker]="picker_end_date"
                            [ngClass]="{ 'is-invalid': submitted && f['activity:endDate'].errors }"
                            placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker_end_date"></mat-datepicker-toggle>
                            <mat-datepicker #picker_end_date></mat-datepicker>
                            <mat-error *ngIf="f['dc:endDate']?.invalid &&(f['dc:endDate'].touched || submitted)">
                                <span *ngIf="f['dc:endDate'].errors?.required">This field is mandatory.</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6" style="margin-top: -19px;">
                        <div class="row">
                            <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                                <label for="timeFrom">timeFrom</label>
                                <ngb-timepicker formControlName="activity:timeFrom" [meridian]="true" [spinners]="false" [ngClass]="{ 'is-invalid': submitted && f['activity:timeFrom'].errors, 'meridian-blue':meridian1}" [ngStyle]="{backgroundColor:'red'}" (click)="toggleMeridian('meridian1')"></ngb-timepicker>
                                {{f['activity:timeFrom'].value|json}}
                                {{meridian1}}
                                <div *ngIf="submitted && f['activity:timeFrom'].errors" class="invalid-feedback">
                                    <div *ngIf="f['activity:timeFrom'].errors.required">timeFrom is required</div>
                                </div>
                            </div>
                            <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                                <label for="timeTo">timeTo</label>
                                <ngb-timepicker formControlName="activity:timeTo" [meridian]="true" [spinners]="false" [ngClass]="{ 'is-invalid': submitted && f['activity:timeTo'].errors, 'meridian-blue':meridian2}" (click)="toggleMeridian('meridian2')"></ngb-timepicker>
                                {{f['activity:timeTo'].value|json}}
                                {{meridian2}}
                                <div *ngIf="submitted && f['activity:timeTo'].errors" class="invalid-feedback">
                                    <div *ngIf="f['activity:timeTo'].errors.required">timeTo is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row py-4">
                    <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6" [formGroup]="accessCoverPicture">
                            <mat-label> coverPicture
                            </mat-label>
                            <input
                            #ing_input
                            hidden="true"
                            id="coverPicture"
                            placeholder="coverPicture"
                            type="file"
                            (change)="onAttachFileChange($event)"
                            (load)="fun(ing_input)"
                            accept=".png, .jpg, .jpeg"
                            >
                            <button 
                            type="button" 
                            mat-raised-button color="accent"
                            (click)="fun(ing_input)">Upload</button>
                            <div *ngIf="coverPicture">
                                <img [src]="coverPicture" alt="cover_picture">
                                {{coverPicture}}

                            </div>
                            <!-- <input matInput 
                            formControlName="upload-batch" 
                            type="text" 
                            id="coverPicture" 
                            placeholder="coverPicture" 
                            [ngClass]="{ 'is-invalid': submitted && f['activity:coverPicture'].errors }">
                            <mat-error *ngIf="submitted && f['activity:coverPicture'].errors">
                                <span *ngIf="f['activity:coverPicture'].errors.required">This field is mandatory.</span>
                            </mat-error> -->
                    </div>
                    <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6" style="margin-top: -19px;">
                            <ng-select  
                            id="floatingSelect"
                            placeholder="select organizer" 
                            [items]="organizers_objects"
                            bindLabel="name"
                            bindValue="id"
                            [searchable]="true"
                            formControlName="activity:organizers"
                            [ngClass]="{ 'is-invalid': submitted && f['activity:organizers'].errors }"></ng-select>
                        <div *ngIf="submitted && f['activity:organizers'].errors" class="invalid-feedback">
                            <div *ngIf="f['activity:organizers'].errors.required">organizers is required</div>
                        </div>
                    </div>
                </div>
                <div class="row py-4 Locations">
                        <h3 class="locations">locations</h3>
                        <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                            <div class="list-group-item p-2">
                                <div class="row" [formGroup]="accessLocation">
                                        <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                                            <mat-form-field class="form-field">
                                                <mat-label> city
                                                </mat-label>
                                                <input matInput 
                                                formControlName="city" 
                                                type="text" 
                                                id="city" 
                                                placeholder="City" 
                                                [ngClass]="{ 'is-invalid': submitted && accessLocation.controls.city.errors }">
                                                <mat-error *ngIf="submitted && accessLocation.controls.city.errors">
                                                    <span *ngIf="accessLocation.controls.city.errors.required">This field is mandatory.</span>
                                                </mat-error>
                                            </mat-form-field>
                                    </div>
                                    <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                                        <mat-form-field class="form-field">
                                            <mat-label> geographicLocation
                                            </mat-label>
                                            <input matInput 
                                            formControlName="geographicLocation" 
                                            type="text" 
                                            id="geographicLocation" 
                                            placeholder="geographicLocation" 
                                            [ngClass]="{ 'is-invalid': submitted && accessLocation.controls.geographicLocation.errors }">
                                            <mat-error *ngIf="submitted && accessLocation.controls.geographicLocation.errors">
                                                <span *ngIf="accessLocation.controls.geographicLocation.errors.required">This field is mandatory.</span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            <mat-card-actions>
                <button mat-raised-button color="accent" type="submit">SAVE</button>
                <button mat-raised-button color="warn" type="reset" (click)="onReset()">RESET</button>
            </mat-card-actions>
    </form>
</mat-card>


             
            <!-- <div class="row py-4">
                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                    <div class="">
                        <label for="title">title</label>
                        <input formControlName="dc:title" type="text" class="form-control form-control-lg" id="title" placeholder="title" [ngClass]="{ 'is-invalid': submitted && f['dc:title'].errors }">
                        <div *ngIf="submitted && f['dc:title'].errors" class="invalid-feedback">
                            <div *ngIf="f['dc:title'].errors.required">title is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                    <div class="">
                        <label for="description">description</label>
                        <input formControlName="dc:description" type="text" class="form-control form-control-lg" id="description" placeholder="description" [ngClass]="{ 'is-invalid': submitted && f['dc:description'].errors }">
                        <div *ngIf="submitted && f['dc:description'].errors" class="invalid-feedback">
                            <div *ngIf="f['dc:description'].errors.required">description is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-4">
                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                    <div class="">
                        <label for="categorization">categorization</label>
                        <input formControlName="activity:categorization" type="text" class="form-control form-control-lg" id="categorization" placeholder="categorization" [ngClass]="{ 'is-invalid': submitted && f['activity:categorization'].errors }">
                        <div *ngIf="submitted && f['activity:categorization'].errors" class="invalid-feedback">
                            <div *ngIf="f['activity:categorization'].errors.required">categorization is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                    <label for="startDate">startDate</label>
                      <mat-form-field>
                        <input
                        formControlName="activity:startDate"
                        matInput 
                        [matDatepicker]="picker1"
                        [ngClass]="{ 'is-invalid': submitted && f['activity:startDate'].errors }"
                        placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                    <div *ngIf="submitted && f['activity:startDate'].errors" class="invalid-feedback">
                        <div *ngIf="f['activity:startDate'].errors.required">startDate is required</div>
                    </div>
                </div>
            </div>
            <div class="row py-4">
                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                    <div class="">
                        <label for="endDate">endDate</label>
                          <mat-form-field>
                            <input
                            formControlName="activity:endDate"
                            matInput 
                            [matDatepicker]="picker2"
                            [ngClass]="{ 'is-invalid': submitted && f['activity:endDate'].errors }"
                            placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                          </mat-form-field>
                        {{f['activity:endDate'].value|json}}

                        <div *ngIf="submitted && f['activity:endDate'].errors" class="invalid-feedback">
                            <div *ngIf="f['activity:endDate'].errors.required">endDate is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                    <div class="row">
                        <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                            <label for="timeFrom">timeFrom</label>
                            <ngb-timepicker formControlName="activity:timeFrom" [meridian]="true" [spinners]="false" [ngClass]="{ 'is-invalid': submitted && f['activity:timeFrom'].errors, 'meridian-blue':meridian1}" [ngStyle]="{backgroundColor:'red'}" (click)="toggleMeridian('meridian1')"></ngb-timepicker>
                            {{f['activity:timeFrom'].value|json}}
                            {{meridian1}}
                            <div *ngIf="submitted && f['activity:timeFrom'].errors" class="invalid-feedback">
                                <div *ngIf="f['activity:timeFrom'].errors.required">timeFrom is required</div>
                            </div>
                        </div>
                        <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                            <label for="timeTo">timeTo</label>
                            <ngb-timepicker formControlName="activity:timeTo" [meridian]="true" [spinners]="false" [ngClass]="{ 'is-invalid': submitted && f['activity:timeTo'].errors, 'meridian-blue':meridian2}" (click)="toggleMeridian('meridian2')"></ngb-timepicker>
                            {{f['activity:timeTo'].value|json}}
                            {{meridian2}}
                            <div *ngIf="submitted && f['activity:timeTo'].errors" class="invalid-feedback">
                                <div *ngIf="f['activity:timeTo'].errors.required">timeTo is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-4">
                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6" [formGroup]="accessCoverPicture">
                    <label for="coverPicture">coverPicture</label>
                    <input formControlName="upload-batch" type="text" class="form-control form-control-lg" id="coverPicture" placeholder="coverPicture" [ngClass]="{ 'is-invalid': submitted && f['activity:coverPicture'].errors }">
                    <div *ngIf="submitted && f['activity:coverPicture'].errors" class="invalid-feedback">
                        <div *ngIf="f['activity:coverPicture'].errors.required">coverPicture is required</div>
                    </div>
                </div>
                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6 organizers">
                    <div class="form-floating">
                        <ng-select  
                        class="form-select" 
                        id="floatingSelect" 
                        aria-label="Floating label select example"
                        [items]="organizers_objects"
                        bindLabel="name"
                        bindValue="id"
                        [searchable]="true"
                        formControlName="activity:organizers"
                        [ngClass]="{ 'is-invalid': submitted && f['activity:organizers'].errors }"></ng-select>
                        <label for="floatingSelect">select Organizer</label>
                    </div>
                    <div *ngIf="submitted && f['activity:organizers'].errors" class="invalid-feedback">
                        <div *ngIf="f['activity:organizers'].errors.required">organizers is required</div>
                    </div>
                </div>
            </div>
            <div class="row py-4 Locations">
                    <h3 class="locations">locations</h3>
                    <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                        <div class="list-group-item p-2">
                            <div class="row" [formGroup]="accessLocation">
                              <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                                <div class="">
                                  <label for="City">City</label>
                                  <input formControlName="city" type="email" class="form-control form-control-lg" id="city" placeholder="City" [ngClass]="{ 'is-invalid': submitted && accessLocation.controls.city.errors }">
                                  <div *ngIf="submitted && accessLocation.controls.city.errors" class="invalid-feedback">
                                    <div *ngIf="accessLocation.controls.city.errors.required">city is required</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                                <div class="">
                                  <label for="geographicLocation">geographicLocation</label>
                                  <input formControlName="geographicLocation" type="email" class="form-control form-control-lg" id="geographicLocation" placeholder="GeographicLocation" [ngClass]="{ 'is-invalid': submitted && accessLocation.controls.geographicLocation.errors }">
                                  <div *ngIf="submitted && accessLocation.controls.geographicLocation.errors" class="invalid-feedback">
                                    <div *ngIf="accessLocation.controls.geographicLocation.errors.required">geographicLocation is required</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
            </div> -->



    <!--  -->
<!-- 
    <div>
        <div fxLayout="row" fxFlex="50%" fxFlex.gt-sm="50%" >
            <div fxLayout="column" fxFlex  >
                <mat-toolbar color="primary" fxLayoutAlign="center center">
                        <span>Clocked In</span>
                </mat-toolbar>
            </div>
        </div>
    
        <div fxLayout="row" fxFlex="50%" fxFlex.gt-sm="50%" >
            <div fxLayout="column" fxFlex >
                <mat-toolbar color="primary"fxLayoutAlign="center center" >
                        <span>Clocked Out</span>
                </mat-toolbar>
            </div>
        </div>
    </div>
    
    
    <div>
        <div fxLayout="row" fxFlex="50%" fxFlex.gt-sm="50%" >
            <div fxLayout="column" fxFlex  >
                <mat-list>
                    <mat-list-item *ngFor="let user of [{firstName:'firstName',lastName:'lastName'}]"
                    fxLayoutAlign="center center" > 
                            <button mat-raised-button color="warn">
                                    {{user.firstName}} {{user.lastName}}
                            </button>
                    </mat-list-item>
                </mat-list> 
            </div>
        </div>
    
        <div fxLayout="row" fxFlex="50%" fxFlex.gt-sm="50%" >
            <div fxLayout="column" fxFlex>
                <mat-list>
                    <mat-list-item *ngFor="let user of [{firstName:'firstName',lastName:'lastName'}]"
                    fxLayoutAlign="center center" > 
                            <button mat-raised-button color="accent">
                                {{user.firstName}} {{user.lastName}}
                            </button>
                    </mat-list-item>
                </mat-list> 
            </div>
        </div>
    </div> -->