

    <h1>{{entries?"++++":"-----"}}</h1>
    <h1>{{paginater_state?"++++":"-----"}}</h1>
    <div class="table-responsive mt-2" *ngIf="entries;else spinner_paginator">
            <table class="table table-light table-hover">
                <thead class="table-primary">
                    <tr>
                        <!-- <th scope="col">#</th> -->
                        <ng-container *ngFor="let entry_pair of entries[0]|keyvalue">
                            <th scope="col" *ngIf="columns.keys.includes(intoString(entry_pair.key))">
                                {{columns.values[columns.keys.indexOf(intoString(entry_pair.key))]}}
                            </th>
                        </ng-container>
                        <th scope="col" *ngIf="!!entries">operations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of entries">
                        <!-- <th scope="row">{{ entry.uid }}</th> -->
                        <ng-container *ngFor="let entry_pair of entry|keyvalue">
                            <td *ngIf="columns.keys.includes(intoString(entry_pair.key))">
                                <ng-container *ngIf="intoString(entry_pair.key).toLowerCase()!=='dc:created' && intoString(entry_pair.key).toLowerCase()!=='dc:modified';else date">
                                    {{entry_pair.value}}
                                </ng-container>
                                <ng-template #date>
                                    {{intoString(entry_pair.value)|date:'d/M/yyyy'}}
                                </ng-template>
                            </td>
                        </ng-container>
                        <td class="d-flex gap-1 justify-content-center">
                            <!-- <a class="btn btn-danger" (click)="deleteEntry(entry)">delete</a> -->
                            <button (click)="callOperation(entry,'show')" mat-flat-button color="primary">Show</button>
                            <button (click)="callOperation(entry,'edit')" mat-stroked-button color="primary">Edit</button>
                            <button (click)="callOperation(entry,'delete')" mat-raised-button color="warn">Delete</button>
                        </td>
                    </tr>
                    <tr *ngIf="_state && !totalSize" class="text-center"><td colspan="5">NoData</td></tr>
                </tbody>
            </table>
    </div>
    <div class="d-flex justify-content-between p-2" *ngIf="paginater_state;else spinner_paginator">
        <ngb-pagination [collectionSize]="totalSize" [(page)]="pageIndex" [pageSize]="pageSize">
        </ngb-pagination>

        <select class="form-select" style="width: auto;height: 25%" name="pageSize" [(ngModel)]="pageSize">
            <option *ngFor='let in of counter(totalSize) ;let i = index' [ngValue]="i+1">{{i+1}} items per page</option>
        </select>
    </div>
    <ng-template #spinner_paginator>
        <mat-spinner></mat-spinner>
    </ng-template>