
    <div class="page-header">
        <div class="row">
            <div class="col-xm-6 col-sm-7 col-md-8 col-lg-10">
                <h3>{{provider_type=="Organizer"?'Organizers':'Activities'}}</h3>
            </div>
            <div class="col-xm-6 col-sm-5 col-md-4 col-lg-2 me-auto">
                <button type="button" class="btn btn-md btn-outline-dark float-end" [routerLink]="provider_type=='Organizer'?'/organizers/new':'/activities/new'" >create {{provider_type=="Organizer"?'Organizer':'Activity'}}</button>
            </div>
        </div>
    </div>
    <span class="col col-form-label" *ngIf="loading$ | async">
        <div class="spinner-border text-warning spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </span>
    <div class="table-responsive pt-2">
            <table class="table table-light table-hover">
                <thead class="table-dark">
                    <tr>
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">name</th>
                        <th scope="col">website</th>
                        <th scope="col">creation_data</th>
                        <th scope="col">modified_date</th>
                        <th scope="col">creator</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of entries$ | async">
                        <!-- <th scope="row">{{ entry.uid }}</th> -->
                        <td>{{entry.name}}</td>
                        <td> {{entry.website}}</td>
                        <td> {{entry.creation_data|date:'d/M/yyyy'}}</td>
                        <td> {{entry.modified_date|date:'d/M/yyyy'}}</td>
                        <td> {{entry.creator}}</td>
                    </tr>
                    <tr *ngIf="!totalSize" class="text-center"><td colspan="5">NoData</td></tr>
                </tbody>
            </table>
    </div>
    <div class="d-flex justify-content-between p-2" *ngIf="totalSize>0">
        <ngb-pagination [collectionSize]="totalSize" [(page)]="pageIndex" [pageSize]="pageSize">
        </ngb-pagination>

        <select class="form-select" style="width: auto;height: 25%" name="pageSize" [(ngModel)]="pageSize">
            <option *ngFor='let in of counter(totalSize) ;let i = index' [ngValue]="i+1">{{i+1}} items per page</option>
        </select>
    </div>