

<mat-card>
    <mat-card-header>
      <mat-card-title>{{pageType=="Edit"?"Edit Organizer":"Create Organizer"}}</mat-card-title>
    </mat-card-header>
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="title">
                <label for="name" class="form-label">name :</label>
                <mat-form-field class="form-field w-100">
                    <mat-label> name
                    </mat-label>
                    <input matInput formControlName="organizer:name" required>
                    <mat-error *ngIf="(submitted && !!accessName?.errors) || (accessName?.touched && accessName?.invalid)">
                        <span *ngIf="accessName?.errors?.['required']">This field is mandatory.</span>
                        <span *ngIf="accessName?.errors?.['minlength']">should be minimum {{accessName.errors?.['minlength']?.requiredLength}}, You entered only {{accessName.errors?.['minlength']?.actualLength}} characters</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="emails">
                <label for="emails" class="form-label">Emails :</label>
                <div class="email-wrapper">
                    <button type="button" class="w-25" mat-raised-button color="primary" (click)="addToFormArray(emailInput,accessEmails,'emails')" ><mat-icon>add</mat-icon></button>
                    <mat-form-field class="w-75">
                        <mat-label> new email </mat-label>
                        <input matInput #emailInput>
                    </mat-form-field>
                </div>
                <ul class="list-group elements-list" formArrayName="organizer:emails">
                    <li *ngFor="let emailObj of accessEmails.controls; let index=index"
                    [formGroupName]="index"
                    class="list-group-item"
                    >
                        {{emailObj.get('emailAddress')?.value}}
                        <span class="material-symbols-outlined d-block float-end" color="accent"  (click)="removeFromFormArray(accessEmails, index)">
                            <mat-icon>delete</mat-icon>
                        </span>
                        <div *ngIf="(submitted && !!emailObj?.errors) || emailObj?.invalid" class="text-danger">
                            <div *ngIf="emailObj.get('emailAddress')?.errors?.['minlength']">should be minimum {{emailObj.get('emailAddress')?.errors?.['minlength']?.requiredLength}}, You entered only {{emailObj.get('emailAddress')?.errors?.['minlength']?.actualLength}} characters</div>
                            <div *ngIf="emailObj.get('emailAddress')?.errors?.['email']">Email must be a valid email address</div>
                        </div>
                    </li>
                </ul>
                <div *ngIf="(submitted && !!accessEmails?.errors)" class="text-danger">
                    <div *ngIf="accessEmails?.errors?.['required']">Emails Field is Required</div>
                </div>
            </div>
            <div class="addresses">
                <div class="email-wrapper">
                    <button type="button" class="w-25" mat-raised-button color="primary" (click)="addToFormArray(addressInput,accessAddresses,'addresses')" ><mat-icon>add</mat-icon></button>
                    <mat-form-field class="w-75">
                        <mat-label> new address </mat-label>
                        <input matInput #addressInput>
                    </mat-form-field>
                </div>
                <ul class="list-group elements-list" formArrayName="organizer:addresses">
                    <li
                    *ngFor="let addressObj of accessAddresses.controls; let index=index"
                    [formGroupName]="index"
                    class="list-group-item"
                    >
                    {{addressObj.get('address')?.value}} 
                    <!-- <span class="text-warning">Label generated dynamically :{{addressObj.get('label')?.value}} </span> -->
                    <i class="bi bi-trash3-fill text-danger float-end" (click)="removeFromFormArray(accessAddresses, index)"></i>
                        <div *ngIf="(submitted && !!addressObj.get('address')?.errors) || addressObj.get('address')?.invalid" class="text-danger">
                            <div *ngIf="addressObj.get('address')?.errors?.['minlength']">should be minimum {{addressObj.get('address')?.errors?.['minlength']?.requiredLength}}, You entered only {{addressObj.get('address')?.errors?.['minlength']?.actualLength}} characters</div>
                        </div>
                    </li>
                </ul>
                <div *ngIf="(submitted && !!accessAddresses?.errors)" class="text-danger">
                    <div *ngIf="accessAddresses?.errors?.['required']">Addresses Field is Required</div>
                </div>
            </div>
            <div class="organizationActivity">
                <label for="tiorganizationActivitytle" class="form-label">Organization Activity :</label>
                <mat-form-field class="form-field w-100">
                    <mat-label> title
                    </mat-label>
                    <input matInput formControlName="organizer:organizationActivity" required>
                    <mat-error *ngIf="(submitted && !!accessOrganizationActivity?.errors) || (accessOrganizationActivity?.touched && accessOrganizationActivity?.invalid)">
                        <span *ngIf="accessOrganizationActivity?.errors?.['required']">This field is mandatory.</span>
                        <span *ngIf="accessOrganizationActivity?.errors?.['minlength']">should be minimum {{accessOrganizationActivity.errors?.['minlength']?.requiredLength}}, You entered only {{accessOrganizationActivity.errors?.['minlength']?.actualLength}} characters</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="phones">
                <label for="emails" class="form-label">Phones :</label>
                <div class="email-wrapper">
                    <button type="button" class="w-25" mat-raised-button color="primary" (click)="addToFormArray(phoneInput,accessPhones,'phones')" ><mat-icon>add</mat-icon></button>
                    <mat-form-field class="w-75">
                        <mat-label> new phone </mat-label>
                        <input matInput #phoneInput>
                    </mat-form-field>
                </div>
                <ul class="list-group elements-list" formArrayName="organizer:phones">
                    <li
                    *ngFor="let phoneObj of accessPhones.controls; let index=index"
                    [formGroupName]="index"
                    class="list-group-item"
                    >
                    {{phoneObj.get('phoneNumber')?.value}} 
                    <!-- <span class="text-warning">Label generated dynamically :{{phoneObj.get('label')?.value}} </span> -->
                    <i class="bi bi-trash3-fill text-danger float-end" (click)="removeFromFormArray(accessPhones, index)"></i>
                    <div *ngIf="(submitted && !!phoneObj.get('phoneNumber')?.errors) || phoneObj.get('phoneNumber')?.invalid" class="text-danger">
                        <div *ngIf="phoneObj.get('phoneNumber')?.errors?.['minlength']">should be minimum {{phoneObj.get('phoneNumber')?.errors?.['minlength']?.requiredLength}}, You entered only {{phoneObj.get('phoneNumber')?.errors?.['minlength']?.actualLength}} characters</div>
                        <div *ngIf="phoneObj.get('phoneNumber')?.errors?.['pattern']">invalid phone</div>
                    </div>
                </li>
            </ul>
            <div *ngIf="(submitted && !!accessPhones?.errors)" class="text-danger">
                <div *ngIf="accessPhones?.errors?.['required']">Phones Field is Required</div>
            </div>
            </div>
            <div class="website">
                <label for="Website" class="form-label">Website :</label>
                <mat-form-field class="form-field w-100">
                    <mat-label> Website
                    </mat-label>
                    <input matInput formControlName="organizer:website" type="url" required>
                    <mat-error *ngIf="(submitted && !!accessWebsite?.errors) || (accessWebsite?.touched && accessWebsite?.invalid)">
                        <span *ngIf="accessWebsite?.errors?.['required']">Website Field is Required.</span>
                        <span *ngIf="accessWebsite?.errors?.['pattern']">invalid website</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-card-actions>
                <button mat-raised-button color="accent" type="submit" [disabled]="!form.valid">SAVE</button>
                <!-- <button mat-raised-button color="warn" type="reset" (click)="onReset()">RESET</button> -->
            </mat-card-actions>
    </form>
</mat-card>
