
 <!-- Form Level Errors Validations-->
 <!-- <div *ngIf="form.errors?.['invalidLogin']" class="alert alert-warning">
    the username or password is invalid
</div> -->
<!-- show message will the uniqueness proccess is processing, any formControl Object has a property called "pending" that will return true if at least one asyncValidator is in progress-->
<div *ngIf="form.errors?.['minCustom']" class="alert alert-warning">
    0000000000000000
</div>
<div *ngIf="form.errors?.['emailCustom']" class="alert alert-warning">
    1111111111111111
</div>
{{accessEmailAddress}}
{{entry|json}}
{{pageType}}
<form [formGroup]="form" (ngSubmit)="save()">
    <div class="form-group name">
        <label for="name" class="form-label">Name</label>
        <input
        formControlName="organizer:name"
        type="text" 
        class="form-control" 
        name="name" 
        id="name" required>
        <div *ngIf="(submitted && !!accessName?.errors) || (accessName?.touched && accessName?.invalid)" class="alert alert-danger">
            <div *ngIf="accessName?.errors?.['required']">Name Field is Required</div>
            <div *ngIf="accessName?.errors?.['minlength']">should be minimum {{accessName?.errors?.['minlength']?.requiredLength}}, You entered only {{accessName?.errors?.['minlength']?.actualLength}} characters</div>
        </div>
    </div>
    {{accessEmails.valid}}
    <div class="form-group adding-elements-wrapper emails">
        <button (click)="addToFormArray(emailInput,accessEmails,'emails')" type="button" class="btn btn-primary add-element-to-list-btn">add email</button>
        <label for="emails" class="form-label">Emails :</label>
        <input 
        type="text"
        class="form-control add-emails-input"
        #emailInput
        >
        <ul class="list-group elements-list" formArrayName="organizer:emails">
            <li
            *ngFor="let emailObj of accessEmails.controls; let index=index"
            [formGroupName]="index"
            class="list-group-item"
            [style.borderTop]="accessEmails.valid && !index ?'':'0px'"
            [style.border]="accessEmails.valid && index ?'':'1px solid #ff9d9d'"
            >
            {{emailObj.get('emailAddress')?.value}}
            <!-- <span class="text-warning">Label generated dynamically :{{emailObj.get('label')?.value}} </span> -->
            <i class="bi bi-trash3-fill text-danger float-end" (click)="removeFromFormArray(accessEmails, index)"></i>
                <div *ngIf="(submitted && !!emailObj?.errors) || emailObj?.invalid" class="alert alert-danger">
                    <div *ngIf="emailObj.get('emailAddress')?.errors?.['minlength']">should be minimum {{emailObj.get('emailAddress')?.errors?.['minlength']?.requiredLength}}, You entered only {{emailObj.get('emailAddress')?.errors?.['minlength']?.actualLength}} characters</div>
                    <div *ngIf="emailObj.get('emailAddress')?.errors?.['email']">Email must be a valid email address</div>
                </div>
            </li>
        </ul>
        <div *ngIf="(submitted && !!accessEmails?.errors)" class="alert alert-danger">
            <div *ngIf="accessEmails?.errors?.['required']">Emails Field is Required</div>
        </div>
    </div>
    <div class="form-group adding-elements-wrapper addresses">
        <button (click)="addToFormArray(addressInput,accessAddresses,'addresses')" type="button" class="btn btn-primary add-element-to-list-btn">add address</button>
        <label for="addresses" class="form-label">Addresses :</label>
        <input 
        type="text" 
        class="form-control add-addresses-input"
        #addressInput
        >
        <ul class="list-group elements-list" formArrayName="organizer:addresses">
            <li
            *ngFor="let addressObj of accessAddresses.controls; let index=index"
            [formGroupName]="index"
            class="list-group-item"
            >
            {{addressObj.get('address')?.value}} 
            <!-- <span class="text-warning">Label generated dynamically :{{addressObj.get('label')?.value}} </span> -->
            <i class="bi bi-trash3-fill text-danger float-end" (click)="removeFromFormArray(accessAddresses, index)"></i>
                <div *ngIf="(submitted && !!addressObj.get('address')?.errors) || addressObj.get('address')?.invalid" class="alert alert-danger">
                    <div *ngIf="addressObj.get('address')?.errors?.['minlength']">should be minimum {{addressObj.get('address')?.errors?.['minlength']?.requiredLength}}, You entered only {{addressObj.get('address')?.errors?.['minlength']?.actualLength}} characters</div>
                </div>
            </li>
        </ul>
        <div *ngIf="(submitted && !!accessAddresses?.errors)" class="alert alert-danger">
            <div *ngIf="accessAddresses?.errors?.['required']">Addresses Field is Required</div>
        </div>
    </div>
    <div class="form-group organizationActivity">
        <label for="organizationActivity" class="form-label">Organization Activity :</label>
        <input
        formControlName="organizer:organizationActivity"
        type="text" 
        class="form-control" 
        name="organizationActivity" 
        id="organizationActivity">
        <div *ngIf="(submitted && !!accessOrganizationActivity?.errors) || (accessOrganizationActivity?.touched && accessOrganizationActivity?.invalid)" class="alert alert-danger">
            <div *ngIf="accessOrganizationActivity?.errors?.['required']">Organization Activity Field is Required</div>
            <div *ngIf="accessOrganizationActivity?.errors?.['minlength']">should be minimum {{accessOrganizationActivity?.errors?.['minlength']?.requiredLength}}, You entered only {{accessOrganizationActivity?.errors?.['minlength']?.actualLength}} characters</div>
        </div>
    </div>
    <div class="form-group adding-elements-wrapper phones">
        <button (click)="addToFormArray(phoneInput,accessPhones,'phones')" type="button" class="btn btn-primary add-element-to-list-btn">add phone</button>
        <label for="phones" class="form-label">Phones :</label>
        <input 
        type="text" 
        class="form-control add-phones-input"
        #phoneInput
        >
        <ul class="list-group elements-list" formArrayName="organizer:phones">
            <li
            *ngFor="let phoneObj of accessPhones.controls; let index=index"
            [formGroupName]="index"
            class="list-group-item"
            >
            {{phoneObj.get('phoneNumber')?.value}} 
            <!-- <span class="text-warning">Label generated dynamically :{{phoneObj.get('label')?.value}} </span> -->
            <i class="bi bi-trash3-fill text-danger float-end" (click)="removeFromFormArray(accessPhones, index)"></i>
            <div *ngIf="(submitted && !!phoneObj.get('phoneNumber')?.errors) || phoneObj.get('phoneNumber')?.invalid" class="alert alert-danger">
                <div *ngIf="phoneObj.get('phoneNumber')?.errors?.['minlength']">should be minimum {{phoneObj.get('phoneNumber')?.errors?.['minlength']?.requiredLength}}, You entered only {{phoneObj.get('phoneNumber')?.errors?.['minlength']?.actualLength}} characters</div>
                <div *ngIf="phoneObj.get('phoneNumber')?.errors?.['pattern']">invalid phone</div>
            </div>
        </li>
    </ul>
    <div *ngIf="(submitted && !!accessPhones?.errors)" class="alert alert-danger">
        <div *ngIf="accessPhones?.errors?.['required']">Phones Field is Required</div>
    </div>
    </div>
    <div class="form-group website">
        <label for="website" class="website">website</label>
        <input [ngClass]="{ 'is-invalid': submitted && accessWebsite?.errors?.errors }"
        formControlName="organizer:website"
        type="url" 
        class="form-control" 
        name="website" 
        id="website">
        <div *ngIf="(submitted && !!accessWebsite?.errors) || (accessWebsite?.touched && accessWebsite?.invalid)" class="alert alert-danger">
            <div *ngIf="accessWebsite?.errors?.['required']">Website Field is Required</div>
            <div *ngIf="accessWebsite?.errors?.['pattern']">invalid website</div>
        </div>
    </div>


    <button type="submit" class="btn btn-lg btn-secondary">Login</button>
</form>
