<header>
  <!-- Fixed navbar -->
  <bs-navbar></bs-navbar>
</header>
<div class="container-fluid">
    <!-- Begin page content -->
    <div style="display:flex">
      <div class="p-4" style="width: -webkit-fill-available">
        <router-outlet></router-outlet>
      </div>
      <div>
        <app-side-bar></app-side-bar>
      </div>
    </div>
    <div class="buttons">
      <button class="btn btn-primary" (click)="showStandard()" ngbTooltip="Will disappear in 5s">Standard toast</button
      >&nbsp;
      <button class="btn btn-success" (click)="showSuccess()" ngbTooltip="Will disappear in 10s">Success toast</button
      >&nbsp;
    </div>
    <!-- <footer class="footer py-3 bg-light">
      <div class="container">
        <span class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste quo iure illo! Voluptatum eaque quos, vitae cumque corrupti modi ipsam rerum nisi voluptas temporibus reprehenderit enim recusandae distinctio saepe impedit?</span>
      </div>
    </footer> -->
</div>