/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons";
@import "~ngx-toastr/toastr.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@ng-select/ng-select/themes/material.theme.css';
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.dropdown-toggle{
    cursor: pointer;
}
.pagination>.page-item>.page-link{
    display: flex;
}
.pagination .page-link{
    color: #3a4151 !important;
}
.pagination .active,.page-link.active, .active > .page-link{
    background-color: #3a4151 !important;
    border-color: #3a4151 !important;
    color: white !important;
}
.pagination .page-item >a ,.form-select{
    --bs-pagination-focus-color:red !important;
    --bs-pagination-focus-box-shadow: red !important;
    --bs-pagination-active-border-color: red !important;
}
.table > :not(caption) > * > * {
    text-align: center;
}

.pagination .nav-link{
    color:#3a4151
}
.nav-link:hover{
    background-color: cornflowerblue;
    color:white
}

  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
